.container
{
   display: flex;
   flex-direction: column;
   height: 100%;
}
.editor-container
{
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}
.image-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image
{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 300px;
    
}
.page
{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}
.view
{
    display: inline-block;
}
.clipboard 
{
    margin-top: 20px;
}
.editor-view-coupled
{
    font-size: 15px;
    word-wrap:break-word;
    padding: 20px;
    width: 60vw;
    overflow: auto;
    font-family: 'Nunito', sans-serif;
}
.editor-view-page
{
    word-wrap: break-word;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    font-size: 15px;
    width: 30vw;
}
.editor-box
{
    border: 1px solid darkgrey;
}
.tex-title
{
    text-align: center;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.editor-input
{
    font-size: 15px;
    resize:none;
    overflow: auto;
    outline: none;
    padding: 20px;
    box-sizing: border-box; 
    width: 40vw;
    font-family: 'Nunito', sans-serif;
    
}
.editor-settings
{
    width:20vw;
    font-family: 'Nunito', sans-serif;
}
.inline-text
{
    display: block;
}
.title-input
{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.title-input-block
{
    text-align: center;
}
.title
{
    text-align: center;
}
.save
{
    width: 200px;
    height: 40px;
    font-family: Courier New;
    font-size: 20px;
    margin-top: 30px;
}
.input
{
    display: flex;
    flex-direction: row;
}
.line-numbers
{
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    
}
.line-number
{
    font-family: 'Nunito', sans-serif;
    text-align: right;
    font-size: 15px;
}