.container
{
   display: flex;
   flex-direction: column;
   height: 100%;
}
.editor-container
{
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

.clipboard 
{
    margin-top: 20px;
}
.editor-view
{
    font-size: 15px;
    word-wrap:break-word;
    padding: 20px;
    width: 60vw;
    overflow: auto;
}
.editor-box
{
    border: 1px solid darkgrey;

}
.tex-title
{
    text-align: center;
    font-size: 30px;
}

.editor-input
{
    font-size: 15px;
    resize:none;
    overflow: auto;
    outline: none;
    padding: 20px;
    box-sizing: border-box; 
    width: 40vw;
}
.editor-settings
{
    width:20vw;
}
.inline-text
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.title-input
{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.title-input-block
{
    text-align: center;
}
.title
{
    text-align: center;
}
.save
{
    width: 200px;
    height: 40px;
    font-family: Courier New;
    font-size: 20px;
    background: #3498db;
    margin-top: 30px;
}